.food {
  padding: var(--padding) 0px;
  position: relative;
  @media(max-width:772px) {
    overflow-x: hidden;
  }
  .shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    @media(max-width:992px) {
      width: 100%;
    }
    object-fit: cover;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    pointer-events: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: var(--mainColor);
    border-radius: 50%;
    filter: blur(150px);
  }
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    .box {
      flex-basis: 32%;
      @media(min-width:772px) and (max-width:992px) {
        flex-basis: 48%;
      }
      @media(max-width:772px) {
        flex-basis: 100%;
        width: 100%;
      }
      direction: ltr;
      border-radius: 6px;
      padding: 10px;
      background-color: var(--whiteColor);
      border: 1px solid #ccc3;
      gap: 15px;
      .image {
        width: fit-content;
        position: relative;
        margin: 10px auto;
        .icon {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 50px;
          height: 50px;
          background-color: var(--whiteColor);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            width: 30px;
            height: 30px;
            background-color: var(--blackColor);
            color: var(--whiteColor);
            border-radius: 50%;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
          }
        }
      }
      img {
        width: 200px;
        height: 200px;
      }
      .text {
        h2 {
          font-weight: bold;
          font-size: 20px;
          text-transform: capitalize;
        }
        p {
          font-size: 15px;
          line-height: 2;
          color: var(--textColor);
        }
        span {
          font-weight: bold;
          color: var(--blackColor);
          font-size: 20px;
          span {
            color: var(--mainColor);
          }
        }
      }
    }
  }
}
